@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Wanted Sans", sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation: fadein 1s;
}

@layer components {
  .hover {
    @apply pointer-events-none absolute bottom-[calc(100%+0.5rem)] z-10 h-fit whitespace-nowrap border border-primary bg-gray-950 px-3 py-0.5 text-sm text-primary opacity-0 group-hover:opacity-100;
  }
  .hover-left {
    @apply left-0;
  }
  .hover-down {
    @apply top-[calc(100%+0.5rem)];
  }
  .btn {
    @apply shrink-0 border border-primary bg-gray-950 px-4 py-2 hover:bg-primary hover:text-gray-950 disabled:opacity-20 disabled:hover:!bg-transparent disabled:hover:!text-primary;
  }
  .btn-sm {
    @apply px-2 py-0.5 text-sm;
  }
}
